html{
    scroll-behavior: smooth;
}

header{
  background-color: white;
  font-family: sans-serif;
	background-position: center;
	text-align: center;
}

/* .nav_links a:link{
	text-decoration: none;
	color:#074407;
}

nav a:hover{
	text-decoration: none;
	border-bottom: 1px solid #074407;
} */

a:link{
	text-decoration: none;
	color: #074407;
}

a:hover{
	text-decoration: none;
	border-bottom: 1px solid #074407;
}

a:visited{
	color: #074407;
}

#main{
  background-color: #c2c2bf;
  font-size: 24px;
  margin: 10px;
  padding: 10px;
  font-family: sans-serif;
}

body{
  background-color: white;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
}

h2{
  font-size: 32px;
  line-height: 1.5;
}

nav li{
  display:inline;
  padding-right:20px;

}

nav{
  display: flex;
  background-color: #dff3d5;
  padding: 25px 0; 
  text-align: left;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.skip-main a{
  background: white;
  left: 0;
  padding: 7px;
  position: absolute;
  top: -50px;
}
.skip-main a:focus{
  top: 10px;
}


footer{
  background-color: black;
  color: white;
  padding-top: 30px;
  text-align: center;
}

header p{
  color: white;
  font-size: 24px;
  padding: 0 100px;
  text-align: center;
}
.current{
    text-transform: uppercase;
}

.tips{
    border: 10px solid green;
    margin: 5px;
    font-family: sans-serif;

}

.tips h2{
    font-size: 32px;
}

ul{
    margin-left: 40px;
    list-style: circle;
    /* list-style-image: ; */
}

.grid{
	grid-template-columns: auto auto;
	grid-template-rows: auto auto auto auto;
  display: grid;
}

.gallery{
  display: grid;
	grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
	height: 100%;
}
#gallery{
  text-align: center;
}

.sustainability{
  float: right;
  overflow: auto;
  padding: 20px;
}

/*phone*/
@media screen and (max-width: 760px){
	.main{
		font-size: 24px;
    line-height: 1;
    padding: 50px 0;
    text-align: left;
	}

	nav{
    display: flex;
    flex-direction: column;
    padding: 25px 0; 
    align-items: center;
    flex-wrap: wrap;
	}

	.navitem{
		display: flex;
		font-size: 15px;
  }
  